@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&amp;display=swap');
/*-----
    General
-----*/
:root {
    --content-bg: #FEFEFE;
    --dark-box-bg: #1E2A47;
}

body {
    margin: 0 auto;
    background-color: #F6F8FF;
    width: 87vw;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 13px/25px 'Space Mono';
    color: #4B6A9B;
}

h1, .logo {
    color: #2B3442;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
}

h2 {
    font-size: 22px;
    line-height: 33px; 
}

h3, a {
    font-size: 16px;
    line-height: 24px; 
    color: #0079FF;
    text-decoration: none;
}

h4 {
    font-size: 13px;
    line-height: 20px; 
}

button, input {
    border: 0;
}

input:focus, input:-internal-autofill-selected {
    background-color: transparent;
}

label {
    display: none;
}

.boxStyle {
    border-radius: 15px;
    background-color: var(--content-bg);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.opacity50 {
    opacity: 0.5;
}

.bio {
    margin-top: 20px;
}
/*-----
    Header
-----*/
header {
    padding-top: 40px;
}

.searchBox {
    padding: 7px;
    margin-top: 40px;
    background-color: var(--content-bg);
    clear: both;
}
    input[type='text'], button, .themeMode {
        cursor: pointer;
    }

    .searchBox input[type='text'] {
        background: transparent url(icon-search.svg) no-repeat left center;
        padding: 0 5px 0 38px;
        height: 45px;
        width: 100%;
        color: #4B6A9B;
        font-size: 13px;
        line-height: 45px;
        text-overflow: ellipsis;
        word-wrap: nowrap;
    }

    .searchBox input[type='text']:focus {
        outline: 0;
    }

    .searchBox button {
        border-radius: 10px;
        background-color: #0079FF;
        padding: 0 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 45px;
        margin-left: auto;
    }

    .searchBox button:hover {
        background-color: #60ABFF;
    }

    .error {
        padding-right: 22px;
        align-self: center;
        flex: 40%;
        color: #F74646;
        text-align: right;
    }

.logo {
    float: left; 
    margin-bottom: 45px;
    line-height: 40px;
    color: #222731;
}

.themeMode {
    float: right;
    border: 0;
    padding: 0 35px 0 0;
    background: url(icon-moon.svg) no-repeat right center;
    min-height: 20px;
    color: #4B6A9B;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.5px;   
    line-height: 40px;
    text-transform: uppercase;
}

.themeMode:hover {
    color: #222731;
    filter: brightness(0.3);
}
/*-----
    Main content
-----*/
#userDetail {
    margin: 15px 0 170px;
    padding: 32px 24px 48px;
}
    #userDetail img {
        float: left;
        border-radius: 35px;
        margin-right: 19px;
        width: 70px;
        height: 70px;
    }

    #userDetail a {
        font-size: 13px;
        color: #0079FF;
        text-decoration: none;
    }

    #userDetail table {
        margin: 20px 0;
        border-radius: 10px;
        background-color: #F6F8FF;
        padding: 18px 15px;
        width: 100%;
        text-align: center;
    }
        #userDetail a {
            color: #4B6A9B;
        }

        #userDetail a:hover {
            text-decoration: underline;
        }

        #userDetail a.login {
            color: #0079FF;
        }

        #userDetail table tr:nth-child(2) td {
            color: #2B3442;
            font-weight: 700;
            font-size: 16px;
        }

        .address, .blogUrl, .twitter, .company {
            display: block;
            padding-left: 32px;
            margin-bottom: 10px;
        }

        .address {
            background: url(icon-location.svg) left center no-repeat;
        }
        .blogUrl {
            background: url(icon-website.svg) left center no-repeat;
        } 

        .twitter {
            background: url(icon-twitter.svg) left center no-repeat;
        } 
        
        .company {
            background: url(icon-company.svg) left center no-repeat;
        }
/*-----
    Dark theme 
-----*/
.darkTheme {
    background-color: #141D2F; 
}    
    .darkTheme #userDetail *, .darkTheme .login {
        color: #fff;
    } 

    .darkTheme .boxStyle, .darkTheme .boxStyle input {
        background-color: var(--dark-box-bg);
        box-shadow: none;
    }

    .darkTheme .themeMode {
        background: url(icon-sun.svg) no-repeat right center;
    }

    .darkTheme .themeMode:hover {
        filter: none;
        opacity: 0.5;
    }

    .darkTheme .logo, .darkTheme .searchBox input[type='text'], .darkTheme .themeMode {
        color: #fff;
    }

    .darkTheme #userDetail table {
        background-color: #141D2F;
    }

    .darkTheme #userDetail table tr:nth-child(2) td {
        color: #fff;
    }
    
/*-----
    Media queries 
-----*/
/* Tablet, desktop common */ 
@media screen and (min-width: 768px) {
    body * {
        font-size: 15px;
    }

    h1 {
        font-size: 26px;
    }

    .searchBox input[type='text'] {
        font-size: 18px;
        height: 50px;
    }

    .searchBox { 
        padding-left: 32px;
    }

    .searchBox button { 
        font-size: 16px;
        padding: 0 20px;
    }

    #userDetail img {
        border-radius: 59px;
        width: 117px;
        height: 117px;
    }
    
    #userDetail a {
        font-size: 15px;
    }

    #userDetail table tr td {
        font-size: 13px;
    }

    #userDetail table tr:nth-child(2) td {
        font-size: 22px;
    }

    .address, .twitter, .address, .company, .blogUrl {
        display: inline-block;
        width: 50%;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 74vw;
    }

    .searchBox input[type='text'], .searchBox button {
       line-height: 50px;
    }

    #userDetail {
        padding: 32px 40px 48px;
    }

    #userDetail img {
        margin: 0 35px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    html {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body {
        width: 730px;
    }

    #userDetail {
        padding: 48px;
        display: flex;
    }

    #userDetail img {
        margin-right: 37px;
        flex: 25%;
    }

    #userDetail table {
        margin: 32px 0 37px;
    }

    .userData {
        width: 75%;
    }
}